.menu-top {
  position: sticky;
  top: 0%;
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--mat-sys-primary);
  background: var(--mat-sys-primary-container);
  z-index: 1;
  .logo {
    height: 2rem;
    margin-right: 3rem;
    img {
      height: 100%;
    }
  }
  .menu-list {
    display: flex;
    align-items: center;
    .menu-item {
      padding: 0.5rem 1rem;
      cursor: pointer;
      border-radius: 0.5rem;
    }
  }
}
