<section class="text-center mine-sweeper">
  <div class="game-container">
    @for (row of grid; track row; let i = $index) {
    <div class="row">
      @for (cell of row; track cell; let j = $index) {
      <div
        class="cell"
        [ngClass]="{ revealed: cell.revealed, mine: cell.mine }"
        (click)="revealCell(i, j)"
      >
        {{
          cell.revealed && !cell.mine
            ? cell.adjacentMines > 0
              ? cell.adjacentMines
              : ""
            : ""
        }}
      </div>
      }
    </div>
    }
  </div>
</section>
