<div class="game-container">
  <div *ngFor="let row of grid; let i = index" class="row">
    <div
      *ngFor="let cell of row; let j = index"
      class="cell"
      [ngClass]="{ revealed: cell.revealed, mine: cell.mine }"
      (click)="revealCell(i, j)"
    >
      {{
        cell.revealed && !cell.mine
          ? cell.adjacentMines > 0
            ? cell.adjacentMines
            : ""
          : ""
      }}
    </div>
  </div>
</div>
<div class="status">
  <p *ngIf="gameOver">Game Over! {{ message }}</p>
  <p *ngIf="gameWon">You Win!</p>
</div>
